services:
  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: phone_address_api
    env_file:
      - .env
    environment:
      - REDIS_URL=${REDIS_URL}
      - HOST=${HOST:-0.0.0.0}
      - PORT=${PORT:-8000}
    ports:
      - "8000:8000"
    depends_on:
      - redis
    restart: unless-stopped

volumes:
  redis-data:
